@import '../../styles/typographies.module.scss';
@import '../../styles/color_palette.module.scss';

.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    div {
        h3 {
            @include header;
            color: $rawon;
        }
        p {
            @include sub-header;
            color: $milkshakeOreo;
        }
    }
}