@font-face {
  font-family: "Poppins-Regular";
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
  font-style: normal;
}

/* input:focus {
  outline-width: 1px;
  outline-color: #db2a4e;
} */
